/* Benja Guzzetta */

body {
    background-color: lightgreen;
    color: teal;
    font-family: sans-serif;
  }

  nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
  }

  p{
    text-align: justify;
    margin-right: 200px;
    font-size: 18px;
    color: teal;
    font-family: cursive;
  }

  footer {
    text-align: center;
    margin-right: 50px;
    border: 18px dashed gold;
    font-family: serif;
  }

  #uat_meme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 12px solid gold;
    border-radius: 10px;
    box-shadow: 0px 40px 40px teal;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    padding: 14px;
    border: 12px dotted gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    text-align: center;
    color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-weight: bold;
  }
